.App {
    text-align: center;
    background-color: rgb(180, 130, 228);
    min-height: 100vh;
    
    
     overflow-x: hidden;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  }
  
.upload-file img + div {
  display: block !important;
  position: relative;
  left: 36px;
}

.upload-file img + div span {
  width: 100%;
}